NUXT_PUBLIC_AUTH0_CLIENT_ID="XXXXX"
NUXT_PUBLIC_AUTH0_AUDIENCE="http://localhost:3001/"
NUXT_PUBLIC_BACKEND_BASE_URL="http://localhost:3001"
NUXT_PUBLIC_ENV="local"
NUXT_PUBLIC_SUPPORT_EMAIL="XXXX"
NUXT_TELEMETRY_DISABLED=1